<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars.githubusercontent.com/u/54338576?v=4">

    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Crisciany Souza</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Crisciany Souza<i class="material-icons right">close</i></span>

      <p>
        Desenvolvedora de Software. Vivendo uma aventura na area de tecnologia.
      </p>

      <p class="center">
        <a href="https://github.com/Any97Cris" target="blank" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt"></i>GitHub</a>
        <br><br>
        <a href="https://www.linkedin.com/in/criscianysilva/" target="blank" class="light-blue darken-4 white-text waves-effect waves-light btn" style="width: 155px;">
          Linkedin
          <i class="fa fa-linkedin-square"></i> 
        </a>
        <br><br>
        <i class="fa fa-linux fa-2x"></i>
        <i class="fa fa-git fa-2x"></i>
        <i class="fa fa-terminal fa-2x"></i>
        <i class="fa fa-code fa-2x"></i>
        <i class="fa fa-music fa-2x"></i>
        <i class="fa fa-rocket fa-2x"></i>
        
      </p>

    </div>
  </div>